.grid-container {
    height: 80vh !important;
    display: grid;
    grid-gap: 20px;
    padding-bottom: 10px;
  }
  
  .con1 {
    grid-column: 1 / span 8;
    grid-row: 1/ span 2;
  }
  
  .con2 {
    grid-column: 9;
    grid-row: 1 /  2;
  }
  .con3 {
    grid-column: 9;
    grid-row: 2 /  2;
  }

  .card.card-cascade.narrower {
    height: 100%;
  }
  
  .card.card-cascade .view.view-cascade.gradient-card-header{
    padding:1em !important;
  }

  .centermid{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  
  }
  

  #particles-js{
    background-color: #17182f;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    
  }

.rounded-rect {
background: white;
border-radius: 10px;
box-shadow: 0 0 50px -25px black;
}
 
.flex-center {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
}
 
.flex-center.left {
left: 0px;
}
 
.flex-center.right {
right: 0px;
}
 
.sidebar-content {
position: absolute;
width: 95%;
height: 95%;
font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
color: gray;
}
 
.sidbear-toggle {
position: absolute;
width: 1.3em;
height: 1.3em;
overflow: visible;
display: flex;
justify-content: center;
align-items: center;
}
 
.sidbear-toggle.left {
right: -1.5em;
}
 
.sidbear-toggle.right {
left: -1.5em;
}
 
.sidbear-toggle:hover {
color: #0aa1cf;
cursor: pointer;
}
 
.sidebar {
transition: transform 1s;
z-index: 1;
width: 300px;
height: 100%;
}
 

.left.collapsed {
transform: translateX(-295px);
}
 
.right.collapsed {
transform: translateX(295px);
}


.mapboxgl-popup {
  min-width: 200px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.custom-padding{
  padding: 6rem 13rem 3rem 13rem !important;
}

@media only screen and (max-width: 1000px) {
  .custom-padding{
    padding: 6rem 2rem 3rem 2rem !important;
  }
}

